<!doctype html>
<html>
<h1 style="color: #5e9ca0;">Your x8000 Product Info:</h1>
<p><strong>Plant Name: {{val_plantname}}  </strong></p>
<p><strong>Device Name: {{val_topologyname}} </strong></p>
<p><strong>Device Type: {{val_topologydevice}} </strong></p>
<h2 style="color: #5e9ca0;">Measures:</h2>
<p><strong>Temperature: {{val_temperature}} {{val_temp_unit}}° </strong></p>
<p><strong>Umidity: {{val_humidity}}% </strong></p>
<p><strong>Mode: {{val_mode}} </strong></p>
<p><strong>Function: {{val_function}} </strong></p>
<p><strong>State: {{val_state}} </strong></p>
<p><strong>Setpoint: {{val_setpoint}} </strong></p>
</html>
